extends layout

block content
    h1 logger
    .container
        h1 Dynamic Table Example
        table
            thead
            tr
                th ID
                th Name
                th Age
                th Country
            tbody
            each row, index in people
                tr
                td= row.id
                td= row.name
                td= row.age
                td= row.country