extends layout

block content
  .container
    h1 Form Submission
    form(action="/create" method="POST")
      
      .form-group
        label(for="name") Name
        input(type="text" id="name" name="name" required)

      .form-group
        label(for="age") Age
        input(type="number" id="age" name="age" required)

      .form-group
        label(for="country") Country
        input(type="text" id="country" name="country" required)

      .button-container
        button(type="submit") Submit

  script.
    // Automatically sets the current date as the created date
    document.getElementById('created_date').value = new Date().toISOString().split('T')[0];
