body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 90%;
  margin: 50px auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  box-sizing: border-box;  /* Ensures padding is included in the width */
}

h1 {
  text-align: center;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input, textarea, select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;  /* Ensures padding is included in the width */
}

textarea {
  resize: vertical;
  height: 150px;
}

select {
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}

.button-container {
  text-align: center;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:hover {
  background-color: #45a049;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 18px;
}

th, td {
  padding: 8px 12px;
  text-align: left;
  border: 1px solid #ddd;
  text-align: center;
}

th {
  background-color: #f4f4f4;
  color: #333;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

/* Buttons */
.action-buttons {
  display: flex;
  justify-content: center; 
  align-items: center;      
  gap: 10px;                
}


.btn-update, .btn-delete {
  display: inline-flex;
  align-items: center;
  padding: 5px 10px;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-size: 0.9rem;
}

.btn-update {
  background-color: #4CAF50;
}

.btn-delete {
  background-color: #f44336;
}

.btn-update:hover {
  background-color: #45a049;
}

.btn-delete:hover {
  background-color: #e53935;
}

